{% extends 'user/base.html' %}
{% load static %}

{% block title %}Landing Page{% endblock %}

{% block content %}
<div class="cards-container">
    {% for shop in shops %}
    <a href="{% url 'shop_detail' shop.id %}" class="card-link">
        <div class="card">
            {% if shop.logo %}
                <img src="{{ shop.logo.url }}" alt="{{ shop.business_name }}">
            {% else %}
                <img src="https://placehold.co/328x213" alt="{{ shop.business_name }}">
            {% endif %}
            <div class="card-header">
                <div class="card-title">{{ shop.business_name }}</div>
                <div class="card-location-hours">
                    <div class="card-address">{{ shop.address }}</div>
                    <div class="separator"></div>
                    <div class="card-hours">{{ shop.hours|default:"Hours not specified" }}</div>
                </div>
            </div>
        </div>
    </a>
    {% empty %}
    <p class="no-shops">No coffee shops available at the moment.</p>
    {% endfor %}
</div>

<div class="show-more">
    <div class="show-more-text">Show more</div>
</div>
{% endblock %}
