{% extends 'base.html' %}

{% block title %}Daily Joe Coffee Shop{% endblock %}

{% block content %}
    <div class="container">
        <div class="shop-header">
            <div class="shop-name">Daily Joe</div>
            <div class="shop-address">Ateneo Ave, Naga, Camarines Sur</div>
            <div class="shop-hours">8:00 AM - 11:00 PM</div>
            <div class="shop-tags">Pure Beans • Iced Lattes • To-Go Coffee</div>
            <div class="shop-status">OPEN DAILY</div>
            <div class="favorite">
                <span style="color: #222222; font-size: 20px; font-weight: 200;">♡ </span>
                <span class="favorite-text">Favorite</span>
            </div>
            <img class="shop-main-img" src="https://placehold.co/648x365" alt="Daily Joe main" />
            <img class="shop-sub-img sub-img-1" src="https://placehold.co/307x175" alt="Daily Joe 1" />
            <img class="shop-sub-img sub-img-2" src="https://placehold.co/307x175" alt="Daily Joe 2" />
            <img class="shop-sub-img sub-img-3" src="https://placehold.co/307x175" alt="Daily Joe 3" />
            <img class="shop-sub-img sub-img-4" src="https://placehold.co/307x175" alt="Daily Joe 4" />
        </div>

        <div class="menu-title">Menu</div>

        <div class="cart">
            <div class="cart-inner"></div>
            <div class="cart-title">Your items</div>
            <div class="cart-item-name">Spanish Latte</div>
            <div class="cart-item-price">₱ 49</div>
            <img class="cart-item-img" src="https://placehold.co/58x64" alt="Spanish Latte" />
            <div class="cart-divider"></div>
            <div class="checkout-btn">
                <div class="checkout-btn-text">Finalize Pre-Order</div>
            </div>
        </div>

        <div class="menu-item" style="left: 68px; top: 740px;">
            <img class="menu-item-img" src="https://placehold.co/156x173" alt="Spanish Latte" />
            <div class="menu-item-name">Spanish Latte</div>
            <div class="menu-item-price">₱ 49</div>
            <div class="menu-item-desc">--Bestseller-- Flavor profile: creamy, sweet, smooth, bold, indulgent</div>
            <div class="order-btn">
                <div class="order-btn-text">Pre-order</div>
            </div>
        </div>

        <div class="menu-item" style="left: 477px; top: 740px;">
            <img class="menu-item-img" src="https://placehold.co/156x173" alt="Caramel Macchiato" />
            <div class="menu-item-name">Caramel Macchiato</div>
            <div class="menu-item-price">₱ 49</div>
            <div class="menu-item-desc">--Recommended-- Flavor profile: caramel, strong, less sweet, familiar</div>
            <div class="order-btn">
                <div class="order-btn-text">Pre-order</div>
            </div>
        </div>

        <div class="menu-item" style="left: 68px; top: 950px;">
            <img class="menu-item-img" src="https://placehold.co/156x173" alt="Matcha Latte" />
            <div class="menu-item-name">Matcha Latte</div>
            <div class="menu-item-price">₱ 49</div>
            <div class="menu-item-desc">Matcha Latte - Non coffee</div>
            <div class="order-btn">
                <div class="order-btn-text">Pre-order</div>
            </div>
        </div>

        <div class="menu-item" style="left: 477px; top: 950px;">
            <img class="menu-item-img" src="https://placehold.co/156x173" alt="Vanilla Americano" />
            <div class="menu-item-name">Vanilla Americano</div>
            <div class="menu-item-price">₱ 49</div>
            <div class="menu-item-desc">Flavor profile: dairy-free, strong, very strong. Your iced americano with a twist of vanilla.</div>
            <div class="order-btn">
                <div class="order-btn-text">Pre-order</div>
            </div>
        </div>
    </div>
{% endblock %}
